body,
html {
	height: 100%;
	width: 100%;
	background-color: #131C26;
}

body {
	overflow: -moz-scrollbars-vertical;
}

#movies-view {
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

#movies-page {
	text-align: center;
	width: 75px;
}

.movie {
	width: 250px;
	height: 375px;
	margin-bottom: 25px;
}

.cover {
	width: 100%;
	height: 325px;
}

.title {
	width: 250px;
	height: 50px;
	background-color: #E6341B; 
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
}

.title p {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.movie {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.hidden {
	visibility: hidden;
}
