.cover {
	width: 275px;
	height: auto;
}

#pages li .selected {
	background-color: black;
	color: white;
}

.movie {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 15px;
	text-align: center;
}