body,
html {
	height: 100%;
	width: 100%;
	background-color: #131C26;
}

a,
a:hover {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#header {
	background-color: #233547;
	max-height: auto;
	height: 100px;
	color: white;
	padding: 30px;
}

.nav-arrow,
.page-split {
	font-size: 1.5em;
}

#movies-view {
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.form-inline {
	text-align: center;
}

#movies-page {
	text-align: center;
	width: 75px;
}

.movie {
	width: 250px;
	height: 375px;
	margin-bottom: 25px;
}

.cover {
	width: 100%;
	height: 325px;
}

.title {
	width: 250px;
	height: 50px;
	background-color: #E6341B; 
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
}

.title p {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#pages li.selected,
#pages li:hover {
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

#pages li {
	display: inline-block;
	padding: 2px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.3em;
}

#pages li a {
	color: white;
}

#pages {
	display: inline-block;
	padding: 0;
	margin: 0;
}

#nav-pages {
	text-align: center;
	background-color: rgba(0, 0, 0, 0.2);
	height: 100px;
	line-height: 50px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

.nav-panel {
	display: inline-block;
	width: 65px;
}

.movie {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.hidden {
	display: none;
}

.page-split:hover,
.nav-arrow:hover {
	color: white;
}